body{
  background:#afafaf ;
}
.dino{
  width: 60px;
  height: 60px;
  background-image: url(./dino.png);
  position: absolute;
  bottom: 0;
}
/*cactus*/
.cactus{
  position: absolute;
  width: 60px;
  height: 60px;
  bottom: 0;
  background-image:url(./cactus.png)
}
.game-over{
  text-align: center;
  font-family:'Poppins' sans-serif;
  color:rgb(24, 23, 23);
  margin-top: 100px;
}

@keyframes slideright {
  from{
    background-position: 70000%;
  }
  in{
    background-position: 0;
  }
}
.background{
  position: absolute;
  bottom: 0;
  background-image:url(./background.png) ;
  background-repeat: repeat-x;
  animation: slideright 600s infinite linear;
  width: 100%;
  height: 200px;
}